body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* h2 styles */
.solutions__title,
.team__title,
.portfolio__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0;
    padding-top: 124px;
    padding-bottom: 72px;
}

/* h3 styles */
.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
}

/* p styles */
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5;
    margin-right: 72px;
}

.logo--dark {
    color: #2e2f42;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em
}

.address {
    font-style: normal;
}

.address__list {
    display: flex;
    gap: 40px;
}

.address__link {
    color: #434455;
    letter-spacing: 0.02em
}

.nav__link:hover,
.address__link:hover {
    color: #404bbf;
}

.nav__link:focus,
.address__link:focus {
    color: #404bbf;
}

/* Section Hero */

.hero {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.hero__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    max-width: 500px;
    padding-bottom: 48px;
}

.hero .btn {
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
}

.hero .btn:hover,
.hero .btn:focus {
    background-color: #404bbf;
}

/* Section Solutions */
.solutions{
    padding-bottom: 116px;
}

.solutions__list {
    display: flex;
    justify-content: center;
}

.solutions__item {
    width: 100%;
    max-width: 264px;
    margin-right: 24px;
}

.solution__item:last-child {
    margin-right: 0;
}
/* Section Our Team */
.team {
    background-color: #f4f4fd;
}

.team__cards {
    display: flex;
    justify-content: center;
    padding-bottom:116px;
    margin: 0;
}

.team__card {
    background-color: #fff;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}

.team__card:last-child {
    margin-right: 0;
}

/* Section Our Portfolio */

/* Footer */

.footer {
    background-color: #2e2f42;
}

.footer .description {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.logo--white {
    color: #f4f4fd;
}