body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
}

/* font-weight: 500 */
.btn,
.nav-link,
h3 {
        font-weight: 500;
}

/* font-weight: 700 */
h2,
.logo {
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    line-height: 1.07143;
}

h2, h3 {
    color: #2e2f42;
}

h2 {
    line-height: 1.11111;
}

h3 {
    line-height: 1.2;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5;

    span {
        color: #2e2f42;
    }
}

.nav-link,
.address-link {
    letter-spacing: 0.02em
}
.nav-link {
    color: #2e2f42;
}

.address-link {
    font-style: normal;
    color: #434455;
}

.nav-link:hover,
.address-link:hover {
    color: #404bbf;
}

.nav-link:active,
.address-link:active {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.hero h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero .btn {
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em
}

.hero .btn:hover {
    background-color: #404bbf;
}